.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s linear;
  display: flex;
  z-index: 10;
}

.modal:hover {
  cursor: pointer;
}

.popup__opened {
  visibility: visible;
  opacity: 1;
}
