.modal__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  outline: none;
  padding: 5px;
  width: 100%;
}

.modal__input_type_error {
  border-bottom: 1px solid red;
}
